$background-primary: #1a1a1c;
$background-secondary: #151516;

$background-card-medium-gray: #242426;
$background-card-light-gray: #363637;
$background-card-very-light-gray: #454547;

$accent-light: #88c2fb;
$accent-regular: #2875a5;
$accent-dark: #1e4e79;

$error: #dd4242;
$warning: #da8d32;
// $success: #da8d32;

$white-100: #ffffff;
$white-50: #808080;
$white-25: #404040;
$white-75: #c0c0c0; 
$soft-gray:  #b3b3b3;

$success: #45a723;
$failure: #dd4242;

$chip-bg-red: #492a2c;
$chip-bg-green: #263814;
$chip-bg-blue: #2a3c49;
$chip-bg-yellow: #483928;
$chip-bg-purple: #452a49;

$chip-text-blue: #4fa6e5;
$chip-text-green: #72b034;
$chip-text-purple: #e24fe5;

$connected-green: #68e274;
$ball-tag-red: #562525;
$ball-tag-dark-yellow: #434636;
$ball-tag-light-blue: #2a474e;
$ball-tag-brown: #46311e;
$ball-tag-dark-green: #1c321d;
$ball-tag-dark-purple: #372445;
$ball-tag-dark-blue: #232a3d;
$ball-tag-yellow: #f3d35f;
$ball-tag-light-purple: #bb5ff3;
$ball-tag-light-yellow: #b7b932;
$current-ball-yellow: #f0f336b3;
$current-click-red: #A32424CC;
